<h1>Профиль</h1>
<div class="row">
    {{#if user.avatarUrl}}
    <div class="col s6">
        <img class="avatar" src="/{{user.avatarUrl}}" alt="avatar-{{user.name}}">
    </div>
    {{else}}
    <div class="col s6">
        <img class="avatar" src="https://images.chesscomfiles.com/uploads/v1/user/4766477.12632792.1200x1200o.0aca46f64627.png" alt="avatar">
    </div>
    {{/if}}
    <div class="col s6">
        <form action="/profile" method="POST" enctype="multipart/form-data">
        <p>Ваш email: <strong>{{user.email}}</strong></p>
            <div class="input-field">
                <input class="validate" name="name" required value="{{user.name}}" type="text" id="name">
                <label for="name">Ведите имя</label>
                <span class="helper-text" data-error="Имя не может быть пустым"></span>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Загрузить аватар</span>
                    <input type="file" name="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn" type="submit">Сохранить изменения</button>
        </form>
    </div>
</div>